GarageSaleWSClient/src/main/resources/META-INF/wsdl/GarageSaleBankManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleBankManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="GarageSaleBankManagerLocal_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAccountsForGS">
    <part name="parameters" element="tns:createAccountsForGS"/>
  </message>
  <message name="createAccountsForGSResponse">
    <part name="parameters" element="tns:createAccountsForGSResponse"/>
  </message>
  <message name="doTransaction">
    <part name="parameters" element="tns:doTransaction"/>
  </message>
  <message name="doTransactionResponse">
    <part name="parameters" element="tns:doTransactionResponse"/>
  </message>
  <message name="getAccountBalances">
    <part name="parameters" element="tns:getAccountBalances"/>
  </message>
  <message name="getAccountBalancesResponse">
    <part name="parameters" element="tns:getAccountBalancesResponse"/>
  </message>
  <message name="getTransactionHistory">
    <part name="parameters" element="tns:getTransactionHistory"/>
  </message>
  <message name="getTransactionHistoryResponse">
    <part name="parameters" element="tns:getTransactionHistoryResponse"/>
  </message>
  <portType name="GarageSaleBankManagerLocal">
    <operation name="createAccountsForGS">
      <input message="tns:createAccountsForGS"/>
      <output message="tns:createAccountsForGSResponse"/>
    </operation>
    <operation name="doTransaction">
      <input message="tns:doTransaction"/>
      <output message="tns:doTransactionResponse"/>
    </operation>
    <operation name="getAccountBalances">
      <input message="tns:getAccountBalances"/>
      <output message="tns:getAccountBalancesResponse"/>
    </operation>
    <operation name="getTransactionHistory">
      <input message="tns:getTransactionHistory"/>
      <output message="tns:getTransactionHistoryResponse"/>
    </operation>
  </portType>
</definitions>

