GarageSaleWSClient/src/main/resources/META-INF/wsdl/GarageSaleCCManagerLocal_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://wrapper.cc.svt.websphere.ibm.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="CCInfoWrapper">
    <xs:sequence>
      <xs:element name="balance" type="xs:float"/>
      <xs:element name="CCNum" type="xs:string" minOccurs="0"/>
      <xs:element name="climit" type="xs:float"/>
      <xs:element name="expDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

