GarageSaleWSClient/src/main/resources/META-INF/wsdl/GarageSaleCCManagerLocal_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://view.session.ccdb.gs.svt.websphere.ibm.com/" xmlns:tns="http://view.session.ccdb.gs.svt.websphere.ibm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://wrapper.cc.svt.websphere.ibm.com">

  <xs:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleCCManagerLocal_schema1.xsd"/>

  <xs:element name="clearCCDB" type="tns:clearCCDB"/>

  <xs:element name="clearCCDBResponse" type="tns:clearCCDBResponse"/>

  <xs:element name="createAccountForGS" type="tns:createAccountForGS"/>

  <xs:element name="createAccountForGSResponse" type="tns:createAccountForGSResponse"/>

  <xs:element name="createCCAuthInfo" type="tns:createCCAuthInfo"/>

  <xs:element name="createCCAuthInfoResponse" type="tns:createCCAuthInfoResponse"/>

  <xs:element name="createCCHistory" type="tns:createCCHistory"/>

  <xs:element name="createCCHistoryResponse" type="tns:createCCHistoryResponse"/>

  <xs:element name="createCCInfo" type="tns:createCCInfo"/>

  <xs:element name="createCCInfoResponse" type="tns:createCCInfoResponse"/>

  <xs:element name="createCCOwnerInfo" type="tns:createCCOwnerInfo"/>

  <xs:element name="createCCOwnerInfoResponse" type="tns:createCCOwnerInfoResponse"/>

  <xs:element name="createNewCustomer" type="tns:createNewCustomer"/>

  <xs:element name="createNewCustomerResponse" type="tns:createNewCustomerResponse"/>

  <xs:element name="doCredit" type="tns:doCredit"/>

  <xs:element name="doCreditResponse" type="tns:doCreditResponse"/>

  <xs:element name="doDebit" type="tns:doDebit"/>

  <xs:element name="doDebitResponse" type="tns:doDebitResponse"/>

  <xs:element name="genCCNum" type="tns:genCCNum"/>

  <xs:element name="genCCNumResponse" type="tns:genCCNumResponse"/>

  <xs:element name="genTransID" type="tns:genTransID"/>

  <xs:element name="genTransIDResponse" type="tns:genTransIDResponse"/>

  <xs:element name="getCCInfo" type="tns:getCCInfo"/>

  <xs:element name="getCCInfoResponse" type="tns:getCCInfoResponse"/>

  <xs:element name="getCCInfoWrapper" type="tns:getCCInfoWrapper"/>

  <xs:element name="getCCInfoWrapperResponse" type="tns:getCCInfoWrapperResponse"/>

  <xs:element name="removeCCAuthInfo" type="tns:removeCCAuthInfo"/>

  <xs:element name="removeCCAuthInfoResponse" type="tns:removeCCAuthInfoResponse"/>

  <xs:element name="removeCCInfo" type="tns:removeCCInfo"/>

  <xs:element name="removeCCInfoResponse" type="tns:removeCCInfoResponse"/>

  <xs:element name="removeCCOwner" type="tns:removeCCOwner"/>

  <xs:element name="removeCCOwnerResponse" type="tns:removeCCOwnerResponse"/>

  <xs:element name="resetCCDB" type="tns:resetCCDB"/>

  <xs:element name="resetCCDBResponse" type="tns:resetCCDBResponse"/>

  <xs:element name="showHistoryInfo" type="tns:showHistoryInfo"/>

  <xs:element name="showHistoryInfoResponse" type="tns:showHistoryInfoResponse"/>

  <xs:element name="updateCCAuthInfo" type="tns:updateCCAuthInfo"/>

  <xs:element name="updateCCAuthInfoResponse" type="tns:updateCCAuthInfoResponse"/>

  <xs:element name="updateCCInfo" type="tns:updateCCInfo"/>

  <xs:element name="updateCCInfoResponse" type="tns:updateCCInfoResponse"/>

  <xs:element name="updateCCOwnerInfo" type="tns:updateCCOwnerInfo"/>

  <xs:element name="updateCCOwnerInfoResponse" type="tns:updateCCOwnerInfoResponse"/>

  <xs:element name="validateCard" type="tns:validateCard"/>

  <xs:element name="validateCardResponse" type="tns:validateCardResponse"/>

  <xs:complexType name="createCCInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ccInfo">
    <xs:sequence>
      <xs:element name="balance" type="xs:float"/>
      <xs:element name="CLimit" type="xs:float"/>
      <xs:element name="ccNum" type="xs:string" minOccurs="0"/>
      <xs:element name="expDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clearCCDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="clearCCDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetCCDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetCCDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCCInfoWrapper">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCCInfoWrapperResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CCInfoWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCOwner">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCOwnerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doDebit">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:float"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:boolean"/>
      <xs:element name="arg4" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doDebitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createNewCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccAuthInfo" minOccurs="0"/>
      <xs:element name="arg1" type="tns:ccInfo" minOccurs="0"/>
      <xs:element name="arg2" type="tns:ccOwnerInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ccAuthInfo">
    <xs:sequence>
      <xs:element name="ccNum" type="xs:string" minOccurs="0"/>
      <xs:element name="password1" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ccOwnerInfo">
    <xs:sequence>
      <xs:element name="address1" type="xs:string" minOccurs="0"/>
      <xs:element name="address2" type="xs:string" minOccurs="0"/>
      <xs:element name="ccNum" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="FName" type="xs:string" minOccurs="0"/>
      <xs:element name="LName" type="xs:string" minOccurs="0"/>
      <xs:element name="MName" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="state1" type="xs:string" minOccurs="0"/>
      <xs:element name="zip" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createNewCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccountForGS">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccountForGSResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CCInfoWrapper" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCCInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCCInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CCInfoWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doCredit">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:boolean"/>
      <xs:element name="arg4" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doCreditResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="showHistoryInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="showHistoryInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:ccHistory" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ccHistory">
    <xs:sequence>
      <xs:element name="amount" type="xs:float"/>
      <xs:element name="companyId" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="tns:ccHistoryPK" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ccHistoryPK">
    <xs:sequence>
      <xs:element name="ccNum" type="xs:string" minOccurs="0"/>
      <xs:element name="timestamp1" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCOwnerInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccOwnerInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCOwnerInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCard">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
      <xs:element name="arg4" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCardResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCHistory">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccHistory" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCHistoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCOwnerInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccOwnerInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCOwnerInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCAuthInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCAuthInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCAuthInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccAuthInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCAuthInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCAuthInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccAuthInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCCAuthInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeCCInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="genTransID">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="genTransIDResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="genCCNum">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="genCCNumResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCInfo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:ccInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCCInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

