GarageSaleWSClient/src/main/resources/META-INF/wsdl/GarageSaleStoreManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://view.session.gsdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://view.session.gsdb.gs.svt.websphere.ibm.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://view.session.gsdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleStoreManagerLocal_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://cart.gs.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="checkOut">
    <part name="parameters" element="tns:checkOut"/>
  </message>
  <message name="checkOutResponse">
    <part name="parameters" element="tns:checkOutResponse"/>
  </message>
  <message name="orderShipped">
    <part name="parameters" element="tns:orderShipped"/>
  </message>
  <message name="orderShippedResponse">
    <part name="parameters" element="tns:orderShippedResponse"/>
  </message>
  <message name="listCategories">
    <part name="parameters" element="tns:listCategories"/>
  </message>
  <message name="listCategoriesResponse">
    <part name="parameters" element="tns:listCategoriesResponse"/>
  </message>
  <message name="listMfgCategories">
    <part name="parameters" element="tns:listMfgCategories"/>
  </message>
  <message name="listMfgCategoriesResponse">
    <part name="parameters" element="tns:listMfgCategoriesResponse"/>
  </message>
  <message name="listAllMfgCategories">
    <part name="parameters" element="tns:listAllMfgCategories"/>
  </message>
  <message name="listAllMfgCategoriesResponse">
    <part name="parameters" element="tns:listAllMfgCategoriesResponse"/>
  </message>
  <message name="listInventory">
    <part name="parameters" element="tns:listInventory"/>
  </message>
  <message name="listInventoryResponse">
    <part name="parameters" element="tns:listInventoryResponse"/>
  </message>
  <message name="listInventoryByCategoryOrMfg">
    <part name="parameters" element="tns:listInventoryByCategoryOrMfg"/>
  </message>
  <message name="listInventoryByCategoryOrMfgResponse">
    <part name="parameters" element="tns:listInventoryByCategoryOrMfgResponse"/>
  </message>
  <message name="listAllInventory">
    <part name="parameters" element="tns:listAllInventory"/>
  </message>
  <message name="listAllInventoryResponse">
    <part name="parameters" element="tns:listAllInventoryResponse"/>
  </message>
  <message name="listAllCustomers">
    <part name="parameters" element="tns:listAllCustomers"/>
  </message>
  <message name="listAllCustomersResponse">
    <part name="parameters" element="tns:listAllCustomersResponse"/>
  </message>
  <message name="getTotalStoreCredit">
    <part name="parameters" element="tns:getTotalStoreCredit"/>
  </message>
  <message name="getTotalStoreCreditResponse">
    <part name="parameters" element="tns:getTotalStoreCreditResponse"/>
  </message>
  <message name="getInventory">
    <part name="parameters" element="tns:getInventory"/>
  </message>
  <message name="getInventoryResponse">
    <part name="parameters" element="tns:getInventoryResponse"/>
  </message>
  <message name="getCategory">
    <part name="parameters" element="tns:getCategory"/>
  </message>
  <message name="getCategoryResponse">
    <part name="parameters" element="tns:getCategoryResponse"/>
  </message>
  <message name="getCustomerInfo">
    <part name="parameters" element="tns:getCustomerInfo"/>
  </message>
  <message name="getCustomerInfoResponse">
    <part name="parameters" element="tns:getCustomerInfoResponse"/>
  </message>
  <message name="getCustomer">
    <part name="parameters" element="tns:getCustomer"/>
  </message>
  <message name="getCustomerResponse">
    <part name="parameters" element="tns:getCustomerResponse"/>
  </message>
  <message name="populateInventory">
    <part name="parameters" element="tns:populateInventory"/>
  </message>
  <message name="populateInventoryResponse">
    <part name="parameters" element="tns:populateInventoryResponse"/>
  </message>
  <message name="populateCustomers">
    <part name="parameters" element="tns:populateCustomers"/>
  </message>
  <message name="populateCustomersResponse">
    <part name="parameters" element="tns:populateCustomersResponse"/>
  </message>
  <message name="populateBankDB">
    <part name="parameters" element="tns:populateBankDB"/>
  </message>
  <message name="populateBankDBResponse">
    <part name="parameters" element="tns:populateBankDBResponse"/>
  </message>
  <message name="populateCCDB">
    <part name="parameters" element="tns:populateCCDB"/>
  </message>
  <message name="populateCCDBResponse">
    <part name="parameters" element="tns:populateCCDBResponse"/>
  </message>
  <message name="clearGSDB">
    <part name="parameters" element="tns:clearGSDB"/>
  </message>
  <message name="clearGSDBResponse">
    <part name="parameters" element="tns:clearGSDBResponse"/>
  </message>
  <message name="resetGSDB">
    <part name="parameters" element="tns:resetGSDB"/>
  </message>
  <message name="resetGSDBResponse">
    <part name="parameters" element="tns:resetGSDBResponse"/>
  </message>
  <message name="clearBankDB">
    <part name="parameters" element="tns:clearBankDB"/>
  </message>
  <message name="clearBankDBResponse">
    <part name="parameters" element="tns:clearBankDBResponse"/>
  </message>
  <message name="resetBankDB">
    <part name="parameters" element="tns:resetBankDB"/>
  </message>
  <message name="resetBankDBResponse">
    <part name="parameters" element="tns:resetBankDBResponse"/>
  </message>
  <message name="clearCCDB">
    <part name="parameters" element="tns:clearCCDB"/>
  </message>
  <message name="clearCCDBResponse">
    <part name="parameters" element="tns:clearCCDBResponse"/>
  </message>
  <message name="resetCCDB">
    <part name="parameters" element="tns:resetCCDB"/>
  </message>
  <message name="resetCCDBResponse">
    <part name="parameters" element="tns:resetCCDBResponse"/>
  </message>
  <message name="getCCHistoryData">
    <part name="parameters" element="tns:getCCHistoryData"/>
  </message>
  <message name="getCCHistoryDataResponse">
    <part name="parameters" element="tns:getCCHistoryDataResponse"/>
  </message>
  <message name="getSettings">
    <part name="parameters" element="tns:getSettings"/>
  </message>
  <message name="getSettingsResponse">
    <part name="parameters" element="tns:getSettingsResponse"/>
  </message>
  <portType name="GarageSaleStoreManagerLocal">
    <operation name="checkOut">
      <input message="tns:checkOut"/>
      <output message="tns:checkOutResponse"/>
    </operation>
    <operation name="orderShipped">
      <input message="tns:orderShipped"/>
      <output message="tns:orderShippedResponse"/>
    </operation>
    <operation name="listCategories">
      <input message="tns:listCategories"/>
      <output message="tns:listCategoriesResponse"/>
    </operation>
    <operation name="listMfgCategories">
      <input message="tns:listMfgCategories"/>
      <output message="tns:listMfgCategoriesResponse"/>
    </operation>
    <operation name="listAllMfgCategories">
      <input message="tns:listAllMfgCategories"/>
      <output message="tns:listAllMfgCategoriesResponse"/>
    </operation>
    <operation name="listInventory">
      <input message="tns:listInventory"/>
      <output message="tns:listInventoryResponse"/>
    </operation>
    <operation name="listInventoryByCategoryOrMfg">
      <input message="tns:listInventoryByCategoryOrMfg"/>
      <output message="tns:listInventoryByCategoryOrMfgResponse"/>
    </operation>
    <operation name="listAllInventory">
      <input message="tns:listAllInventory"/>
      <output message="tns:listAllInventoryResponse"/>
    </operation>
    <operation name="listAllCustomers">
      <input message="tns:listAllCustomers"/>
      <output message="tns:listAllCustomersResponse"/>
    </operation>
    <operation name="getTotalStoreCredit">
      <input message="tns:getTotalStoreCredit"/>
      <output message="tns:getTotalStoreCreditResponse"/>
    </operation>
    <operation name="getInventory">
      <input message="tns:getInventory"/>
      <output message="tns:getInventoryResponse"/>
    </operation>
    <operation name="getCategory">
      <input message="tns:getCategory"/>
      <output message="tns:getCategoryResponse"/>
    </operation>
    <operation name="getCustomerInfo">
      <input message="tns:getCustomerInfo"/>
      <output message="tns:getCustomerInfoResponse"/>
    </operation>
    <operation name="getCustomer">
      <input message="tns:getCustomer"/>
      <output message="tns:getCustomerResponse"/>
    </operation>
    <operation name="populateInventory">
      <input message="tns:populateInventory"/>
      <output message="tns:populateInventoryResponse"/>
    </operation>
    <operation name="populateCustomers">
      <input message="tns:populateCustomers"/>
      <output message="tns:populateCustomersResponse"/>
    </operation>
    <operation name="populateBankDB">
      <input message="tns:populateBankDB"/>
      <output message="tns:populateBankDBResponse"/>
    </operation>
    <operation name="populateCCDB">
      <input message="tns:populateCCDB"/>
      <output message="tns:populateCCDBResponse"/>
    </operation>
    <operation name="clearGSDB">
      <input message="tns:clearGSDB"/>
      <output message="tns:clearGSDBResponse"/>
    </operation>
    <operation name="resetGSDB">
      <input message="tns:resetGSDB"/>
      <output message="tns:resetGSDBResponse"/>
    </operation>
    <operation name="clearBankDB">
      <input message="tns:clearBankDB"/>
      <output message="tns:clearBankDBResponse"/>
    </operation>
    <operation name="resetBankDB">
      <input message="tns:resetBankDB"/>
      <output message="tns:resetBankDBResponse"/>
    </operation>
    <operation name="clearCCDB">
      <input message="tns:clearCCDB"/>
      <output message="tns:clearCCDBResponse"/>
    </operation>
    <operation name="resetCCDB">
      <input message="tns:resetCCDB"/>
      <output message="tns:resetCCDBResponse"/>
    </operation>
    <operation name="getCCHistoryData">
      <input message="tns:getCCHistoryData"/>
      <output message="tns:getCCHistoryDataResponse"/>
    </operation>
    <operation name="getSettings">
      <input message="tns:getSettings"/>
      <output message="tns:getSettingsResponse"/>
    </operation>
  </portType>
</definitions>

