GarageSaleWSClient/src/main/resources/META-INF/wsdl/GarageSaleCCManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://view.session.ccdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://view.session.ccdb.gs.svt.websphere.ibm.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleCCManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://view.session.ccdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleCCManagerLocal_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createCCOwnerInfo">
    <part name="parameters" element="tns:createCCOwnerInfo"/>
  </message>
  <message name="createCCOwnerInfoResponse">
    <part name="parameters" element="tns:createCCOwnerInfoResponse"/>
  </message>
  <message name="createCCHistory">
    <part name="parameters" element="tns:createCCHistory"/>
  </message>
  <message name="createCCHistoryResponse">
    <part name="parameters" element="tns:createCCHistoryResponse"/>
  </message>
  <message name="createCCAuthInfo">
    <part name="parameters" element="tns:createCCAuthInfo"/>
  </message>
  <message name="createCCAuthInfoResponse">
    <part name="parameters" element="tns:createCCAuthInfoResponse"/>
  </message>
  <message name="createCCInfo">
    <part name="parameters" element="tns:createCCInfo"/>
  </message>
  <message name="createCCInfoResponse">
    <part name="parameters" element="tns:createCCInfoResponse"/>
  </message>
  <message name="updateCCOwnerInfo">
    <part name="parameters" element="tns:updateCCOwnerInfo"/>
  </message>
  <message name="updateCCOwnerInfoResponse">
    <part name="parameters" element="tns:updateCCOwnerInfoResponse"/>
  </message>
  <message name="updateCCInfo">
    <part name="parameters" element="tns:updateCCInfo"/>
  </message>
  <message name="updateCCInfoResponse">
    <part name="parameters" element="tns:updateCCInfoResponse"/>
  </message>
  <message name="updateCCAuthInfo">
    <part name="parameters" element="tns:updateCCAuthInfo"/>
  </message>
  <message name="updateCCAuthInfoResponse">
    <part name="parameters" element="tns:updateCCAuthInfoResponse"/>
  </message>
  <message name="removeCCOwner">
    <part name="parameters" element="tns:removeCCOwner"/>
  </message>
  <message name="removeCCOwnerResponse">
    <part name="parameters" element="tns:removeCCOwnerResponse"/>
  </message>
  <message name="removeCCInfo">
    <part name="parameters" element="tns:removeCCInfo"/>
  </message>
  <message name="removeCCInfoResponse">
    <part name="parameters" element="tns:removeCCInfoResponse"/>
  </message>
  <message name="removeCCAuthInfo">
    <part name="parameters" element="tns:removeCCAuthInfo"/>
  </message>
  <message name="removeCCAuthInfoResponse">
    <part name="parameters" element="tns:removeCCAuthInfoResponse"/>
  </message>
  <message name="genCCNum">
    <part name="parameters" element="tns:genCCNum"/>
  </message>
  <message name="genCCNumResponse">
    <part name="parameters" element="tns:genCCNumResponse"/>
  </message>
  <message name="genTransID">
    <part name="parameters" element="tns:genTransID"/>
  </message>
  <message name="genTransIDResponse">
    <part name="parameters" element="tns:genTransIDResponse"/>
  </message>
  <message name="createNewCustomer">
    <part name="parameters" element="tns:createNewCustomer"/>
  </message>
  <message name="createNewCustomerResponse">
    <part name="parameters" element="tns:createNewCustomerResponse"/>
  </message>
  <message name="doCredit">
    <part name="parameters" element="tns:doCredit"/>
  </message>
  <message name="doCreditResponse">
    <part name="parameters" element="tns:doCreditResponse"/>
  </message>
  <message name="doDebit">
    <part name="parameters" element="tns:doDebit"/>
  </message>
  <message name="doDebitResponse">
    <part name="parameters" element="tns:doDebitResponse"/>
  </message>
  <message name="validateCard">
    <part name="parameters" element="tns:validateCard"/>
  </message>
  <message name="validateCardResponse">
    <part name="parameters" element="tns:validateCardResponse"/>
  </message>
  <message name="showHistoryInfo">
    <part name="parameters" element="tns:showHistoryInfo"/>
  </message>
  <message name="showHistoryInfoResponse">
    <part name="parameters" element="tns:showHistoryInfoResponse"/>
  </message>
  <message name="getCCInfoWrapper">
    <part name="parameters" element="tns:getCCInfoWrapper"/>
  </message>
  <message name="getCCInfoWrapperResponse">
    <part name="parameters" element="tns:getCCInfoWrapperResponse"/>
  </message>
  <message name="getCCInfo">
    <part name="parameters" element="tns:getCCInfo"/>
  </message>
  <message name="getCCInfoResponse">
    <part name="parameters" element="tns:getCCInfoResponse"/>
  </message>
  <message name="createAccountForGS">
    <part name="parameters" element="tns:createAccountForGS"/>
  </message>
  <message name="createAccountForGSResponse">
    <part name="parameters" element="tns:createAccountForGSResponse"/>
  </message>
  <message name="resetCCDB">
    <part name="parameters" element="tns:resetCCDB"/>
  </message>
  <message name="resetCCDBResponse">
    <part name="parameters" element="tns:resetCCDBResponse"/>
  </message>
  <message name="clearCCDB">
    <part name="parameters" element="tns:clearCCDB"/>
  </message>
  <message name="clearCCDBResponse">
    <part name="parameters" element="tns:clearCCDBResponse"/>
  </message>
  <portType name="GarageSaleCCManagerLocal">
    <operation name="createCCOwnerInfo">
      <input message="tns:createCCOwnerInfo"/>
      <output message="tns:createCCOwnerInfoResponse"/>
    </operation>
    <operation name="createCCHistory">
      <input message="tns:createCCHistory"/>
      <output message="tns:createCCHistoryResponse"/>
    </operation>
    <operation name="createCCAuthInfo">
      <input message="tns:createCCAuthInfo"/>
      <output message="tns:createCCAuthInfoResponse"/>
    </operation>
    <operation name="createCCInfo">
      <input message="tns:createCCInfo"/>
      <output message="tns:createCCInfoResponse"/>
    </operation>
    <operation name="updateCCOwnerInfo">
      <input message="tns:updateCCOwnerInfo"/>
      <output message="tns:updateCCOwnerInfoResponse"/>
    </operation>
    <operation name="updateCCInfo">
      <input message="tns:updateCCInfo"/>
      <output message="tns:updateCCInfoResponse"/>
    </operation>
    <operation name="updateCCAuthInfo">
      <input message="tns:updateCCAuthInfo"/>
      <output message="tns:updateCCAuthInfoResponse"/>
    </operation>
    <operation name="removeCCOwner">
      <input message="tns:removeCCOwner"/>
      <output message="tns:removeCCOwnerResponse"/>
    </operation>
    <operation name="removeCCInfo">
      <input message="tns:removeCCInfo"/>
      <output message="tns:removeCCInfoResponse"/>
    </operation>
    <operation name="removeCCAuthInfo">
      <input message="tns:removeCCAuthInfo"/>
      <output message="tns:removeCCAuthInfoResponse"/>
    </operation>
    <operation name="genCCNum">
      <input message="tns:genCCNum"/>
      <output message="tns:genCCNumResponse"/>
    </operation>
    <operation name="genTransID">
      <input message="tns:genTransID"/>
      <output message="tns:genTransIDResponse"/>
    </operation>
    <operation name="createNewCustomer">
      <input message="tns:createNewCustomer"/>
      <output message="tns:createNewCustomerResponse"/>
    </operation>
    <operation name="doCredit">
      <input message="tns:doCredit"/>
      <output message="tns:doCreditResponse"/>
    </operation>
    <operation name="doDebit">
      <input message="tns:doDebit"/>
      <output message="tns:doDebitResponse"/>
    </operation>
    <operation name="validateCard">
      <input message="tns:validateCard"/>
      <output message="tns:validateCardResponse"/>
    </operation>
    <operation name="showHistoryInfo">
      <input message="tns:showHistoryInfo"/>
      <output message="tns:showHistoryInfoResponse"/>
    </operation>
    <operation name="getCCInfoWrapper">
      <input message="tns:getCCInfoWrapper"/>
      <output message="tns:getCCInfoWrapperResponse"/>
    </operation>
    <operation name="getCCInfo">
      <input message="tns:getCCInfo"/>
      <output message="tns:getCCInfoResponse"/>
    </operation>
    <operation name="createAccountForGS">
      <input message="tns:createAccountForGS"/>
      <output message="tns:createAccountForGSResponse"/>
    </operation>
    <operation name="resetCCDB">
      <input message="tns:resetCCDB"/>
      <output message="tns:resetCCDBResponse"/>
    </operation>
    <operation name="clearCCDB">
      <input message="tns:clearCCDB"/>
      <output message="tns:clearCCDBResponse"/>
    </operation>
  </portType>
</definitions>

