GarageSaleEJB/src/main/resources/META-INF/wsdl/GarageSaleStoreManagerLocal_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:17 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://view.session.gsdb.gs.svt.websphere.ibm.com/" xmlns:ns2="http://cart.gs.svt.websphere.ibm.com" xmlns:ns1="http://wrapper.cc.svt.websphere.ibm.com" xmlns:tns="http://view.session.gsdb.gs.svt.websphere.ibm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema1.xsd"/>

  <xs:import namespace="http://cart.gs.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema3.xsd"/>

  <xs:element name="checkOut" type="tns:checkOut"/>

  <xs:element name="checkOutResponse" type="tns:checkOutResponse"/>

  <xs:element name="clearBankDB" type="tns:clearBankDB"/>

  <xs:element name="clearBankDBResponse" type="tns:clearBankDBResponse"/>

  <xs:element name="clearCCDB" type="tns:clearCCDB"/>

  <xs:element name="clearCCDBResponse" type="tns:clearCCDBResponse"/>

  <xs:element name="clearGSDB" type="tns:clearGSDB"/>

  <xs:element name="clearGSDBResponse" type="tns:clearGSDBResponse"/>

  <xs:element name="getCCHistoryData" type="tns:getCCHistoryData"/>

  <xs:element name="getCCHistoryDataResponse" type="tns:getCCHistoryDataResponse"/>

  <xs:element name="getCategory" type="tns:getCategory"/>

  <xs:element name="getCategoryResponse" type="tns:getCategoryResponse"/>

  <xs:element name="getCustomer" type="tns:getCustomer"/>

  <xs:element name="getCustomerInfo" type="tns:getCustomerInfo"/>

  <xs:element name="getCustomerInfoResponse" type="tns:getCustomerInfoResponse"/>

  <xs:element name="getCustomerResponse" type="tns:getCustomerResponse"/>

  <xs:element name="getInventory" type="tns:getInventory"/>

  <xs:element name="getInventoryResponse" type="tns:getInventoryResponse"/>

  <xs:element name="getSettings" type="tns:getSettings"/>

  <xs:element name="getSettingsResponse" type="tns:getSettingsResponse"/>

  <xs:element name="getTotalStoreCredit" type="tns:getTotalStoreCredit"/>

  <xs:element name="getTotalStoreCreditResponse" type="tns:getTotalStoreCreditResponse"/>

  <xs:element name="listAllCustomers" type="tns:listAllCustomers"/>

  <xs:element name="listAllCustomersResponse" type="tns:listAllCustomersResponse"/>

  <xs:element name="listAllInventory" type="tns:listAllInventory"/>

  <xs:element name="listAllInventoryResponse" type="tns:listAllInventoryResponse"/>

  <xs:element name="listAllMfgCategories" type="tns:listAllMfgCategories"/>

  <xs:element name="listAllMfgCategoriesResponse" type="tns:listAllMfgCategoriesResponse"/>

  <xs:element name="listCategories" type="tns:listCategories"/>

  <xs:element name="listCategoriesResponse" type="tns:listCategoriesResponse"/>

  <xs:element name="listInventory" type="tns:listInventory"/>

  <xs:element name="listInventoryByCategoryOrMfg" type="tns:listInventoryByCategoryOrMfg"/>

  <xs:element name="listInventoryByCategoryOrMfgResponse" type="tns:listInventoryByCategoryOrMfgResponse"/>

  <xs:element name="listInventoryResponse" type="tns:listInventoryResponse"/>

  <xs:element name="listMfgCategories" type="tns:listMfgCategories"/>

  <xs:element name="listMfgCategoriesResponse" type="tns:listMfgCategoriesResponse"/>

  <xs:element name="orderShipped" type="tns:orderShipped"/>

  <xs:element name="orderShippedResponse" type="tns:orderShippedResponse"/>

  <xs:element name="populateBankDB" type="tns:populateBankDB"/>

  <xs:element name="populateBankDBResponse" type="tns:populateBankDBResponse"/>

  <xs:element name="populateCCDB" type="tns:populateCCDB"/>

  <xs:element name="populateCCDBResponse" type="tns:populateCCDBResponse"/>

  <xs:element name="populateCustomers" type="tns:populateCustomers"/>

  <xs:element name="populateCustomersResponse" type="tns:populateCustomersResponse"/>

  <xs:element name="populateInventory" type="tns:populateInventory"/>

  <xs:element name="populateInventoryResponse" type="tns:populateInventoryResponse"/>

  <xs:element name="resetBankDB" type="tns:resetBankDB"/>

  <xs:element name="resetBankDBResponse" type="tns:resetBankDBResponse"/>

  <xs:element name="resetCCDB" type="tns:resetCCDB"/>

  <xs:element name="resetCCDBResponse" type="tns:resetCCDBResponse"/>

  <xs:element name="resetGSDB" type="tns:resetGSDB"/>

  <xs:element name="resetGSDBResponse" type="tns:resetGSDBResponse"/>

  <xs:complexType name="getTotalStoreCredit">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getTotalStoreCreditResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerInfo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:customerInfoWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerInfoWrapper">
    <xs:sequence>
      <xs:element name="address1" type="xs:string" minOccurs="0"/>
      <xs:element name="address2" type="xs:string" minOccurs="0"/>
      <xs:element name="ccNum" type="xs:string" minOccurs="0"/>
      <xs:element name="custID" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateCustomers">
    <xs:sequence>
      <xs:element name="arg0" type="tns:settingsWrapper" minOccurs="0"/>
      <xs:element name="arg1" type="ns1:CCInfoWrapper" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settingsWrapper">
    <xs:sequence>
      <xs:element name="numCategories" type="xs:int"/>
      <xs:element name="numCustomers" type="xs:int"/>
      <xs:element name="numItemsPerMfg" type="xs:int"/>
      <xs:element name="numMfgCategories" type="xs:int"/>
      <xs:element name="numSubAccounts" type="xs:int"/>
      <xs:element name="sdoEnabled" type="xs:boolean"/>
      <xs:element name="wsatEnabled" type="xs:boolean"/>
      <xs:element name="wsnEnabled" type="xs:boolean"/>
      <xs:element name="wsnVariables" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateCustomersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateInventory">
    <xs:sequence>
      <xs:element name="arg0" type="tns:settingsWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateInventoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetBankDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetBankDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listAllMfgCategories">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listAllMfgCategoriesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:mfgCategoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mfgCategoryWrapper">
    <xs:sequence>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
      <xs:element name="mfgName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetGSDB">
    <xs:sequence>
      <xs:element name="arg0" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetGSDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clearGSDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="clearGSDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listCategories">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listCategoriesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:categoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryWrapper">
    <xs:sequence>
      <xs:element name="categoryDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
      <xs:element name="numItemsInCategory" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listAllCustomers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listAllCustomersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateCCDB">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateCCDBResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CCInfoWrapper" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listInventory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listInventoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:inventoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inventoryWrapper">
    <xs:sequence>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="inventorySold" type="xs:int"/>
      <xs:element name="itemID" type="xs:string" minOccurs="0"/>
      <xs:element name="mfgName" type="xs:string" minOccurs="0"/>
      <xs:element name="unitPrice" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clearCCDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="clearCCDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clearBankDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="clearBankDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listInventoryByCategoryOrMfg">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listInventoryByCategoryOrMfgResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:inventoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetCCDB">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="resetCCDBResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInventory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInventoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:inventoryWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderShipped">
    <xs:sequence>
      <xs:element name="arg0" type="tns:paymentInfoWrapper" minOccurs="0"/>
      <xs:element name="arg1" type="ns2:CartItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg2" type="tns:customerInfoWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paymentInfoWrapper">
    <xs:sequence>
      <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:float"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="trackingNumber" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderShippedResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCCHistoryData">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCCHistoryDataResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateBankDB">
    <xs:sequence>
      <xs:element name="arg0" type="tns:settingsWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="populateBankDBResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="checkOut">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="ns2:CartItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkOutResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:categoryWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSettings">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSettingsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:settingsWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listAllInventory">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listAllInventoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:inventoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:customerWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerWrapper">
    <xs:sequence>
      <xs:element name="custID" type="xs:string" minOccurs="0"/>
      <xs:element name="custName" type="xs:string" minOccurs="0"/>
      <xs:element name="custPwd" type="xs:string" minOccurs="0"/>
      <xs:element name="numInvoicesCompleted" type="xs:int"/>
      <xs:element name="numInvoicesCreated" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMfgCategories">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMfgCategoriesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:mfgCategoryWrapper" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

