GarageSaleEJB/src/main/resources/META-INF/wsdl/GarageSaleStoreManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. -->
<definitions targetNamespace="http://view.session.gsdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://view.session.gsdb.gs.svt.websphere.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://view.session.gsdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleStoreManagerLocal_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://cart.gs.svt.websphere.ibm.com" schemaLocation="GarageSaleStoreManagerLocal_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="checkOut">
    <part name="parameters" element="tns:checkOut"/>
  </message>
  <message name="checkOutResponse">
    <part name="parameters" element="tns:checkOutResponse"/>
  </message>
  <message name="orderShipped">
    <part name="parameters" element="tns:orderShipped"/>
  </message>
  <message name="orderShippedResponse">
    <part name="parameters" element="tns:orderShippedResponse"/>
  </message>
  <message name="listCategories">
    <part name="parameters" element="tns:listCategories"/>
  </message>
  <message name="listCategoriesResponse">
    <part name="parameters" element="tns:listCategoriesResponse"/>
  </message>
  <message name="listMfgCategories">
    <part name="parameters" element="tns:listMfgCategories"/>
  </message>
  <message name="listMfgCategoriesResponse">
    <part name="parameters" element="tns:listMfgCategoriesResponse"/>
  </message>
  <message name="listAllMfgCategories">
    <part name="parameters" element="tns:listAllMfgCategories"/>
  </message>
  <message name="listAllMfgCategoriesResponse">
    <part name="parameters" element="tns:listAllMfgCategoriesResponse"/>
  </message>
  <message name="listInventory">
    <part name="parameters" element="tns:listInventory"/>
  </message>
  <message name="listInventoryResponse">
    <part name="parameters" element="tns:listInventoryResponse"/>
  </message>
  <message name="listInventoryByCategoryOrMfg">
    <part name="parameters" element="tns:listInventoryByCategoryOrMfg"/>
  </message>
  <message name="listInventoryByCategoryOrMfgResponse">
    <part name="parameters" element="tns:listInventoryByCategoryOrMfgResponse"/>
  </message>
  <message name="listAllInventory">
    <part name="parameters" element="tns:listAllInventory"/>
  </message>
  <message name="listAllInventoryResponse">
    <part name="parameters" element="tns:listAllInventoryResponse"/>
  </message>
  <message name="listAllCustomers">
    <part name="parameters" element="tns:listAllCustomers"/>
  </message>
  <message name="listAllCustomersResponse">
    <part name="parameters" element="tns:listAllCustomersResponse"/>
  </message>
  <message name="getTotalStoreCredit">
    <part name="parameters" element="tns:getTotalStoreCredit"/>
  </message>
  <message name="getTotalStoreCreditResponse">
    <part name="parameters" element="tns:getTotalStoreCreditResponse"/>
  </message>
  <message name="getInventory">
    <part name="parameters" element="tns:getInventory"/>
  </message>
  <message name="getInventoryResponse">
    <part name="parameters" element="tns:getInventoryResponse"/>
  </message>
  <message name="getCategory">
    <part name="parameters" element="tns:getCategory"/>
  </message>
  <message name="getCategoryResponse">
    <part name="parameters" element="tns:getCategoryResponse"/>
  </message>
  <message name="getCustomerInfo">
    <part name="parameters" element="tns:getCustomerInfo"/>
  </message>
  <message name="getCustomerInfoResponse">
    <part name="parameters" element="tns:getCustomerInfoResponse"/>
  </message>
  <message name="getCustomer">
    <part name="parameters" element="tns:getCustomer"/>
  </message>
  <message name="getCustomerResponse">
    <part name="parameters" element="tns:getCustomerResponse"/>
  </message>
  <message name="populateInventory">
    <part name="parameters" element="tns:populateInventory"/>
  </message>
  <message name="populateInventoryResponse">
    <part name="parameters" element="tns:populateInventoryResponse"/>
  </message>
  <message name="populateCustomers">
    <part name="parameters" element="tns:populateCustomers"/>
  </message>
  <message name="populateCustomersResponse">
    <part name="parameters" element="tns:populateCustomersResponse"/>
  </message>
  <message name="populateBankDB">
    <part name="parameters" element="tns:populateBankDB"/>
  </message>
  <message name="populateBankDBResponse">
    <part name="parameters" element="tns:populateBankDBResponse"/>
  </message>
  <message name="populateCCDB">
    <part name="parameters" element="tns:populateCCDB"/>
  </message>
  <message name="populateCCDBResponse">
    <part name="parameters" element="tns:populateCCDBResponse"/>
  </message>
  <message name="clearGSDB">
    <part name="parameters" element="tns:clearGSDB"/>
  </message>
  <message name="clearGSDBResponse">
    <part name="parameters" element="tns:clearGSDBResponse"/>
  </message>
  <message name="resetGSDB">
    <part name="parameters" element="tns:resetGSDB"/>
  </message>
  <message name="resetGSDBResponse">
    <part name="parameters" element="tns:resetGSDBResponse"/>
  </message>
  <message name="clearBankDB">
    <part name="parameters" element="tns:clearBankDB"/>
  </message>
  <message name="clearBankDBResponse">
    <part name="parameters" element="tns:clearBankDBResponse"/>
  </message>
  <message name="resetBankDB">
    <part name="parameters" element="tns:resetBankDB"/>
  </message>
  <message name="resetBankDBResponse">
    <part name="parameters" element="tns:resetBankDBResponse"/>
  </message>
  <message name="clearCCDB">
    <part name="parameters" element="tns:clearCCDB"/>
  </message>
  <message name="clearCCDBResponse">
    <part name="parameters" element="tns:clearCCDBResponse"/>
  </message>
  <message name="resetCCDB">
    <part name="parameters" element="tns:resetCCDB"/>
  </message>
  <message name="resetCCDBResponse">
    <part name="parameters" element="tns:resetCCDBResponse"/>
  </message>
  <message name="getCCHistoryData">
    <part name="parameters" element="tns:getCCHistoryData"/>
  </message>
  <message name="getCCHistoryDataResponse">
    <part name="parameters" element="tns:getCCHistoryDataResponse"/>
  </message>
  <message name="getSettings">
    <part name="parameters" element="tns:getSettings"/>
  </message>
  <message name="getSettingsResponse">
    <part name="parameters" element="tns:getSettingsResponse"/>
  </message>
  <portType name="GarageSaleStoreManagerLocal">
    <operation name="checkOut">
      <input ns1:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/checkOutRequest" message="tns:checkOut" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/checkOutResponse" message="tns:checkOutResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="orderShipped">
      <input ns3:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/orderShippedRequest" message="tns:orderShipped" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/orderShippedResponse" message="tns:orderShippedResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listCategories">
      <input ns5:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listCategoriesRequest" message="tns:listCategories" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listCategoriesResponse" message="tns:listCategoriesResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listMfgCategories">
      <input ns7:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listMfgCategoriesRequest" message="tns:listMfgCategories" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listMfgCategoriesResponse" message="tns:listMfgCategoriesResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listAllMfgCategories">
      <input ns9:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllMfgCategoriesRequest" message="tns:listAllMfgCategories" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllMfgCategoriesResponse" message="tns:listAllMfgCategoriesResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listInventory">
      <input ns11:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listInventoryRequest" message="tns:listInventory" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listInventoryResponse" message="tns:listInventoryResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listInventoryByCategoryOrMfg">
      <input ns13:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listInventoryByCategoryOrMfgRequest" message="tns:listInventoryByCategoryOrMfg" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listInventoryByCategoryOrMfgResponse" message="tns:listInventoryByCategoryOrMfgResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listAllInventory">
      <input ns15:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllInventoryRequest" message="tns:listAllInventory" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllInventoryResponse" message="tns:listAllInventoryResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listAllCustomers">
      <input ns17:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllCustomersRequest" message="tns:listAllCustomers" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/listAllCustomersResponse" message="tns:listAllCustomersResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTotalStoreCredit">
      <input ns19:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getTotalStoreCreditRequest" message="tns:getTotalStoreCredit" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getTotalStoreCreditResponse" message="tns:getTotalStoreCreditResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getInventory">
      <input ns21:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getInventoryRequest" message="tns:getInventory" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getInventoryResponse" message="tns:getInventoryResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCategory">
      <input ns23:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCategoryRequest" message="tns:getCategory" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCategoryResponse" message="tns:getCategoryResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCustomerInfo">
      <input ns25:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCustomerInfoRequest" message="tns:getCustomerInfo" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCustomerInfoResponse" message="tns:getCustomerInfoResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCustomer">
      <input ns27:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCustomerRequest" message="tns:getCustomer" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns28:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCustomerResponse" message="tns:getCustomerResponse" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="populateInventory">
      <input ns29:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateInventoryRequest" message="tns:populateInventory" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns30:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateInventoryResponse" message="tns:populateInventoryResponse" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="populateCustomers">
      <input ns31:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateCustomersRequest" message="tns:populateCustomers" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns32:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateCustomersResponse" message="tns:populateCustomersResponse" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="populateBankDB">
      <input ns33:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateBankDBRequest" message="tns:populateBankDB" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns34:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateBankDBResponse" message="tns:populateBankDBResponse" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="populateCCDB">
      <input ns35:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateCCDBRequest" message="tns:populateCCDB" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns36:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/populateCCDBResponse" message="tns:populateCCDBResponse" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="clearGSDB">
      <input ns37:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearGSDBRequest" message="tns:clearGSDB" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns38:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearGSDBResponse" message="tns:clearGSDBResponse" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="resetGSDB">
      <input ns39:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetGSDBRequest" message="tns:resetGSDB" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns40:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetGSDBResponse" message="tns:resetGSDBResponse" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="clearBankDB">
      <input ns41:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearBankDBRequest" message="tns:clearBankDB" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns42:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearBankDBResponse" message="tns:clearBankDBResponse" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="resetBankDB">
      <input ns43:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetBankDBRequest" message="tns:resetBankDB" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns44:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetBankDBResponse" message="tns:resetBankDBResponse" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="clearCCDB">
      <input ns45:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearCCDBRequest" message="tns:clearCCDB" xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns46:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/clearCCDBResponse" message="tns:clearCCDBResponse" xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="resetCCDB">
      <input ns47:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetCCDBRequest" message="tns:resetCCDB" xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns48:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/resetCCDBResponse" message="tns:resetCCDBResponse" xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCCHistoryData">
      <input ns49:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCCHistoryDataRequest" message="tns:getCCHistoryData" xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns50:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getCCHistoryDataResponse" message="tns:getCCHistoryDataResponse" xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getSettings">
      <input ns51:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getSettingsRequest" message="tns:getSettings" xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns52:Action="http://view.session.gsdb.gs.svt.websphere.ibm.com/GarageSaleStoreManagerLocal/getSettingsResponse" message="tns:getSettingsResponse" xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

