GarageSaleEJB/src/main/resources/META-INF/wsdl/GarageSaleStoreManagerLocal_schema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:17 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://cart.gs.svt.websphere.ibm.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="CartItem">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="itemCount" type="xs:int"/>
      <xs:element name="itemID" type="xs:string" minOccurs="0"/>
      <xs:element name="mfgName" type="xs:string" minOccurs="0"/>
      <xs:element name="shipped" type="xs:boolean"/>
      <xs:element name="unitPrice" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

