CreditCardEJB/src/main/resources/META-INF/wsdl/GarageSaleCCManagerLocal_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:17 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://wrapper.cc.svt.websphere.ibm.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="CCInfoWrapper">
    <xs:sequence>
      <xs:element name="balance" type="xs:float"/>
      <xs:element name="CCNum" type="xs:string" minOccurs="0"/>
      <xs:element name="climit" type="xs:float"/>
      <xs:element name="expDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

