CreditCardEJB/src/main/resources/META-INF/wsdl/GarageSaleCCManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. -->
<definitions targetNamespace="http://view.session.ccdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://view.session.ccdb.gs.svt.websphere.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wrapper.cc.svt.websphere.ibm.com" schemaLocation="GarageSaleCCManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://view.session.ccdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleCCManagerLocal_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createCCOwnerInfo">
    <part name="parameters" element="tns:createCCOwnerInfo"/>
  </message>
  <message name="createCCOwnerInfoResponse">
    <part name="parameters" element="tns:createCCOwnerInfoResponse"/>
  </message>
  <message name="createCCHistory">
    <part name="parameters" element="tns:createCCHistory"/>
  </message>
  <message name="createCCHistoryResponse">
    <part name="parameters" element="tns:createCCHistoryResponse"/>
  </message>
  <message name="createCCAuthInfo">
    <part name="parameters" element="tns:createCCAuthInfo"/>
  </message>
  <message name="createCCAuthInfoResponse">
    <part name="parameters" element="tns:createCCAuthInfoResponse"/>
  </message>
  <message name="createCCInfo">
    <part name="parameters" element="tns:createCCInfo"/>
  </message>
  <message name="createCCInfoResponse">
    <part name="parameters" element="tns:createCCInfoResponse"/>
  </message>
  <message name="updateCCOwnerInfo">
    <part name="parameters" element="tns:updateCCOwnerInfo"/>
  </message>
  <message name="updateCCOwnerInfoResponse">
    <part name="parameters" element="tns:updateCCOwnerInfoResponse"/>
  </message>
  <message name="updateCCInfo">
    <part name="parameters" element="tns:updateCCInfo"/>
  </message>
  <message name="updateCCInfoResponse">
    <part name="parameters" element="tns:updateCCInfoResponse"/>
  </message>
  <message name="updateCCAuthInfo">
    <part name="parameters" element="tns:updateCCAuthInfo"/>
  </message>
  <message name="updateCCAuthInfoResponse">
    <part name="parameters" element="tns:updateCCAuthInfoResponse"/>
  </message>
  <message name="removeCCOwner">
    <part name="parameters" element="tns:removeCCOwner"/>
  </message>
  <message name="removeCCOwnerResponse">
    <part name="parameters" element="tns:removeCCOwnerResponse"/>
  </message>
  <message name="removeCCInfo">
    <part name="parameters" element="tns:removeCCInfo"/>
  </message>
  <message name="removeCCInfoResponse">
    <part name="parameters" element="tns:removeCCInfoResponse"/>
  </message>
  <message name="removeCCAuthInfo">
    <part name="parameters" element="tns:removeCCAuthInfo"/>
  </message>
  <message name="removeCCAuthInfoResponse">
    <part name="parameters" element="tns:removeCCAuthInfoResponse"/>
  </message>
  <message name="genCCNum">
    <part name="parameters" element="tns:genCCNum"/>
  </message>
  <message name="genCCNumResponse">
    <part name="parameters" element="tns:genCCNumResponse"/>
  </message>
  <message name="genTransID">
    <part name="parameters" element="tns:genTransID"/>
  </message>
  <message name="genTransIDResponse">
    <part name="parameters" element="tns:genTransIDResponse"/>
  </message>
  <message name="createNewCustomer">
    <part name="parameters" element="tns:createNewCustomer"/>
  </message>
  <message name="createNewCustomerResponse">
    <part name="parameters" element="tns:createNewCustomerResponse"/>
  </message>
  <message name="doCredit">
    <part name="parameters" element="tns:doCredit"/>
  </message>
  <message name="doCreditResponse">
    <part name="parameters" element="tns:doCreditResponse"/>
  </message>
  <message name="doDebit">
    <part name="parameters" element="tns:doDebit"/>
  </message>
  <message name="doDebitResponse">
    <part name="parameters" element="tns:doDebitResponse"/>
  </message>
  <message name="validateCard">
    <part name="parameters" element="tns:validateCard"/>
  </message>
  <message name="validateCardResponse">
    <part name="parameters" element="tns:validateCardResponse"/>
  </message>
  <message name="showHistoryInfo">
    <part name="parameters" element="tns:showHistoryInfo"/>
  </message>
  <message name="showHistoryInfoResponse">
    <part name="parameters" element="tns:showHistoryInfoResponse"/>
  </message>
  <message name="getCCInfoWrapper">
    <part name="parameters" element="tns:getCCInfoWrapper"/>
  </message>
  <message name="getCCInfoWrapperResponse">
    <part name="parameters" element="tns:getCCInfoWrapperResponse"/>
  </message>
  <message name="getCCInfo">
    <part name="parameters" element="tns:getCCInfo"/>
  </message>
  <message name="getCCInfoResponse">
    <part name="parameters" element="tns:getCCInfoResponse"/>
  </message>
  <message name="createAccountForGS">
    <part name="parameters" element="tns:createAccountForGS"/>
  </message>
  <message name="createAccountForGSResponse">
    <part name="parameters" element="tns:createAccountForGSResponse"/>
  </message>
  <message name="resetCCDB">
    <part name="parameters" element="tns:resetCCDB"/>
  </message>
  <message name="resetCCDBResponse">
    <part name="parameters" element="tns:resetCCDBResponse"/>
  </message>
  <message name="clearCCDB">
    <part name="parameters" element="tns:clearCCDB"/>
  </message>
  <message name="clearCCDBResponse">
    <part name="parameters" element="tns:clearCCDBResponse"/>
  </message>
  <portType name="GarageSaleCCManagerLocal">
    <operation name="createCCOwnerInfo">
      <input ns1:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCOwnerInfoRequest" message="tns:createCCOwnerInfo" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCOwnerInfoResponse" message="tns:createCCOwnerInfoResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createCCHistory">
      <input ns3:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCHistoryRequest" message="tns:createCCHistory" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCHistoryResponse" message="tns:createCCHistoryResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createCCAuthInfo">
      <input ns5:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCAuthInfoRequest" message="tns:createCCAuthInfo" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCAuthInfoResponse" message="tns:createCCAuthInfoResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createCCInfo">
      <input ns7:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCInfoRequest" message="tns:createCCInfo" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createCCInfoResponse" message="tns:createCCInfoResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateCCOwnerInfo">
      <input ns9:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCOwnerInfoRequest" message="tns:updateCCOwnerInfo" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCOwnerInfoResponse" message="tns:updateCCOwnerInfoResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateCCInfo">
      <input ns11:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCInfoRequest" message="tns:updateCCInfo" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCInfoResponse" message="tns:updateCCInfoResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateCCAuthInfo">
      <input ns13:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCAuthInfoRequest" message="tns:updateCCAuthInfo" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/updateCCAuthInfoResponse" message="tns:updateCCAuthInfoResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeCCOwner">
      <input ns15:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCOwnerRequest" message="tns:removeCCOwner" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCOwnerResponse" message="tns:removeCCOwnerResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeCCInfo">
      <input ns17:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCInfoRequest" message="tns:removeCCInfo" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCInfoResponse" message="tns:removeCCInfoResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeCCAuthInfo">
      <input ns19:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCAuthInfoRequest" message="tns:removeCCAuthInfo" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/removeCCAuthInfoResponse" message="tns:removeCCAuthInfoResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="genCCNum">
      <input ns21:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/genCCNumRequest" message="tns:genCCNum" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/genCCNumResponse" message="tns:genCCNumResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="genTransID">
      <input ns23:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/genTransIDRequest" message="tns:genTransID" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/genTransIDResponse" message="tns:genTransIDResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createNewCustomer">
      <input ns25:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createNewCustomerRequest" message="tns:createNewCustomer" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createNewCustomerResponse" message="tns:createNewCustomerResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="doCredit">
      <input ns27:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/doCreditRequest" message="tns:doCredit" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns28:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/doCreditResponse" message="tns:doCreditResponse" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="doDebit">
      <input ns29:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/doDebitRequest" message="tns:doDebit" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns30:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/doDebitResponse" message="tns:doDebitResponse" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="validateCard">
      <input ns31:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/validateCardRequest" message="tns:validateCard" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns32:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/validateCardResponse" message="tns:validateCardResponse" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="showHistoryInfo">
      <input ns33:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/showHistoryInfoRequest" message="tns:showHistoryInfo" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns34:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/showHistoryInfoResponse" message="tns:showHistoryInfoResponse" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCCInfoWrapper">
      <input ns35:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/getCCInfoWrapperRequest" message="tns:getCCInfoWrapper" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns36:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/getCCInfoWrapperResponse" message="tns:getCCInfoWrapperResponse" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCCInfo">
      <input ns37:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/getCCInfoRequest" message="tns:getCCInfo" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns38:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/getCCInfoResponse" message="tns:getCCInfoResponse" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="createAccountForGS">
      <input ns39:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createAccountForGSRequest" message="tns:createAccountForGS" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns40:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/createAccountForGSResponse" message="tns:createAccountForGSResponse" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="resetCCDB">
      <input ns41:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/resetCCDBRequest" message="tns:resetCCDB" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns42:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/resetCCDBResponse" message="tns:resetCCDBResponse" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="clearCCDB">
      <input ns43:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/clearCCDBRequest" message="tns:clearCCDB" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns44:Action="http://view.session.ccdb.gs.svt.websphere.ibm.com/GarageSaleCCManagerLocal/clearCCDBResponse" message="tns:clearCCDBResponse" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

