WSBankEJB/src/main/resources/META-INF/wsdl/GarageSaleBankManagerLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. -->
<definitions targetNamespace="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" schemaLocation="GarageSaleBankManagerLocal_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="GarageSaleBankManagerLocal_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAccountsForGS">
    <part name="parameters" element="tns:createAccountsForGS"/>
  </message>
  <message name="createAccountsForGSResponse">
    <part name="parameters" element="tns:createAccountsForGSResponse"/>
  </message>
  <message name="doTransaction">
    <part name="parameters" element="tns:doTransaction"/>
  </message>
  <message name="doTransactionResponse">
    <part name="parameters" element="tns:doTransactionResponse"/>
  </message>
  <message name="getAccountBalances">
    <part name="parameters" element="tns:getAccountBalances"/>
  </message>
  <message name="getAccountBalancesResponse">
    <part name="parameters" element="tns:getAccountBalancesResponse"/>
  </message>
  <message name="getTransactionHistory">
    <part name="parameters" element="tns:getTransactionHistory"/>
  </message>
  <message name="getTransactionHistoryResponse">
    <part name="parameters" element="tns:getTransactionHistoryResponse"/>
  </message>
  <portType name="GarageSaleBankManagerLocal">
    <operation name="createAccountsForGS">
      <input ns1:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/createAccountsForGSRequest" message="tns:createAccountsForGS" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/createAccountsForGSResponse" message="tns:createAccountsForGSResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="doTransaction">
      <input ns3:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/doTransactionRequest" message="tns:doTransaction" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/doTransactionResponse" message="tns:doTransactionResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAccountBalances">
      <input ns5:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/getAccountBalancesRequest" message="tns:getAccountBalances" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/getAccountBalancesResponse" message="tns:getAccountBalancesResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTransactionHistory">
      <input ns7:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/getTransactionHistoryRequest" message="tns:getTransactionHistory" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/GarageSaleBankManagerLocal/getTransactionHistoryResponse" message="tns:getTransactionHistoryResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

