WSBankEJB/src/main/resources/META-INF/wsdl/GarageSaleBankManagerLocal_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:17 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://view.session.wsbankdb.gs.svt.websphere.ibm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="GarageSaleBankManagerLocal_schema2.xsd"/>

  <xs:element name="createAccountsForGS" type="tns:createAccountsForGS"/>

  <xs:element name="createAccountsForGSResponse" type="tns:createAccountsForGSResponse"/>

  <xs:element name="doTransaction" type="tns:doTransaction"/>

  <xs:element name="doTransactionResponse" type="tns:doTransactionResponse"/>

  <xs:element name="getAccountBalances" type="tns:getAccountBalances"/>

  <xs:element name="getAccountBalancesResponse" type="tns:getAccountBalancesResponse"/>

  <xs:element name="getTransactionHistory" type="tns:getTransactionHistory"/>

  <xs:element name="getTransactionHistoryResponse" type="tns:getTransactionHistoryResponse"/>

  <xs:complexType name="doTransaction">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:float"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
      <xs:element name="arg4" type="xs:boolean"/>
      <xs:element name="arg5" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doTransactionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccountsForGS">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccountsForGSResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAccountBalances">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAccountBalancesResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:floatArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransactionHistory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransactionHistoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:transactionHistoryWrapper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transactionHistoryWrapper">
    <xs:sequence>
      <xs:element name="amounts" type="xs:float" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="partners" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="suffix" type="xs:int"/>
      <xs:element name="times" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

